.backcolor_4 {
  background-color: #0088cb;
}
.color_5 {
  color: #ffcb05;
}
.backcolor_5 {
  background-color: #ffcb05;
}
.color_6 {
  color: #727272;
}
.backcolor_6 {
  background-color: #727272;
}
.color_7 {
  color: #b0b0b0;
}
.backcolor_7 {
  background-color: #b0b0b0;
}
.color_8 {
  color: #ffffff;
}
.backcolor_8 {
  background-color: #ffffff;
}
.color_9 {
  color: #727272;
}
.backcolor_9 {
  background-color: #727272;
}
.color_10 {
  color: #b0b0b0;
}
.backcolor_10 {
  background-color: #b0b0b0;
}
.color_11 {
  color: #ffffff;
}
.backcolor_11 {
  background-color: #ffffff;
}
.color_12 {
  color: #e8e6e6;
}
.backcolor_12 {
  background-color: #e8e6e6;
}
.color_13 {
  color: #c7c7c7;
}
.backcolor_13 {
  background-color: #c7c7c7;
}
.color_14 {
  color: #999997;
}
.backcolor_14 {
  background-color: #999997;
}
.color_15 {
  color: #414141;
}
.backcolor_15 {
  background-color: #414141;
}
.color_16 {
  color: #d9f0fd;
}
.backcolor_16 {
  background-color: #d9f0fd;
}
.color_17 {
  color: #bee5fb;
}
.backcolor_17 {
  background-color: #bee5fb;
}
.color_18 {
  color: #7fccf7;
}
.backcolor_18 {
  background-color: #7fccf7;
}
.color_19 {
  color: #40667c;
}
.backcolor_19 {
  background-color: #40667c;
}
.color_20 {
  color: #213d4d;
}
.backcolor_20 {
  background-color: #213d4d;
}
.color_21 {
  color: #adc6f8;
}
.backcolor_21 {
  background-color: #adc6f8;
}
.color_22 {
  color: #83a8f0;
}
.backcolor_22 {
  background-color: #83a8f0;
}
.color_23 {
  color: #155de9;
}
.backcolor_23 {
  background-color: #155de9;
}
.color_24 {
  color: #0e3e9b;
}
.backcolor_24 {
  background-color: #0e3e9b;
}
.color_25 {
  color: #071f4e;
}
.backcolor_25 {
  background-color: #071f4e;
}
.color_26 {
  color: #c4aedd;
}
.backcolor_26 {
  background-color: #c4aedd;
}
.color_27 {
  color: #9c7fba;
}
.backcolor_27 {
  background-color: #9c7fba;
}
.color_28 {
  color: #663898;
}
.backcolor_28 {
  background-color: #663898;
}
.color_29 {
  color: #442565;
}
.backcolor_29 {
  background-color: #442565;
}
.color_30 {
  color: #221333;
}
.backcolor_30 {
  background-color: #221333;
}
.color_31 {
  color: #e5fad1;
}
.backcolor_31 {
  background-color: #e5fad1;
}
.color_32 {
  color: #cae5af;
}
.backcolor_32 {
  background-color: #cae5af;
}
.color_33 {
  color: #9bcb6c;
}
.backcolor_33 {
  background-color: #9bcb6c;
}
.color_34 {
  color: #4e6636;
}
.backcolor_34 {
  background-color: #4e6636;
}
.color_35 {
  color: #27331b;
}
.backcolor_35 {
  background-color: #27331b;
}
